[Desktop Entry]
Name=Welcome to PikaOS
Exec=pika-welcome
Icon=pika-logo
StartupWMClass=pika_welcome
Terminal=false
Type=Application
Terminal=false
Categories=GNOME;GTK;Utility;
Keywords=Gnome;GTK
