[Desktop Entry]
Name=Welcome to PikaOS
Exec=pika-welcome-autostart
Icon=pika-logo
StartupWMClass=pika_welcome
Terminal=false
Type=Application
Terminal=false
Categories=GNOME;GTK;Utility;
Keywords=Gnome;GTK
NoDisplay=true
AutostartCondition=GSettings org.pika.welcome startup-show
